body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

.form {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

table {
    width: 80%;
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
